<!-- {% extends 'base.html' %}

{% block meta %}
    <title>Complete Your Profile</title>
{% endblock meta %}

{% block content %}
    <main class="flex items-center justify-center w-screen px-5 h-screen bg-gradient-to-r from-[#7FADD0] via-[#6D0CC9] via-[#BB89EC] via-[#2E29A6] to-[#7FADD0]">
        <div class="shadow-xl bg-opacity-75 p-5 sm:p-10 rounded-3xl flex flex-col gap-10 items-center border-[2px] border-4 border-white/50 w-full max-w-md">
            <h2 class="font-bold text-xl sm:text-2xl text-center text-white">Complete Your Profile</h2>
            
            <form class="space-y-4 w-full" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="space-y-4">
                    <div>
                        <label for="profile_name" class="block text-sm font-medium text-white">Full Name</label>
                        {{ form.profile_name }}
                    </div>

                    <div>
                        <label for="profile_picture" class="block text-sm font-medium text-white">Profile Picture</label>
                        {{ form.profile_picture }}
                    </div>

                    <div>
                        <label for="about" class="block text-sm font-medium text-white">About</label>
                        {{ form.about }}
                    </div>

                    <div>
                        <label for="location" class="block text-sm font-medium text-white">Location</label>
                        {{ form.location }}
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-medium text-white">Email</label>
                        {{ form.email }}
                    </div>

                    <div>
                        <label for="phone" class="block text-sm font-medium text-white">Phone</label>
                        {{ form.phone }}
                    </div>
                </div>

                <div>
                    <button type="submit" class="text-xl mt-7 group relative w-full flex justify-center py-2 px-2 border border-transparent text-sm rounded-3xl text-white bg-[#6D0CC9] hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </main>
{% endblock content %} -->
