{% extends 'base.html' %}
{% block meta %}
    <title>Register</title>
{% endblock meta %}
{% block content %}
{% load static %}
    <body class="relative flex items-center justify-center w-screen px-5 h-screen bg-gradient-to-r from-[#7FADD0] via-[#6D0CC9] via-[#BB89EC] via-[#2E29A6] to-[#7FADD0]">
        <div class="relative shadow-xl bg-opacity-75 p-5 sm:p-8 lg:p-10 rounded-3xl flex flex-col gap-6 sm:gap-8 lg:gap-10 items-center border-4 border-white/50 w-full max-w-sm sm:max-w-md lg:max-w-2xl">     
            <img src="{% static 'image/decorator.png' %}" alt="decorator" class="absolute -top-11 -right-12 w-16 h-16 sm:w-24 sm:h-24 lg:w-28 lg:h-28 z-10">
            <img src="{% static 'image/logo.png' %}" alt="Logo" class="h-16 w-auto sm:h-20 lg:h-24">
            <h2 class="font-bold text-lg sm:text-xl lg:text-2xl text-center text-white">Create Your Account</h2>
            <form class="space-y-4 w-full" method="POST" action="">
                {% csrf_token %}
                <div class="space-y-4">
                    <div>
                        <label for="username" class="block text-sm font-medium text-white">Username</label>
                        <input id="username" name="username" type="text" required aria-label="Username" aria-required="true"
                            class="mt-1 appearance-none rounded-2xl block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm lg:text-base" placeholder="Enter your username">
                    </div>
                    <div>
                        <label for="password1" class="block text-sm font-medium text-white">Password</label>
                        <input id="password1" name="password1" type="password" required aria-label="Password" aria-required="true"
                            class="mt-1 appearance-none rounded-2xl block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm lg:text-base" placeholder="Enter your password">
                    </div>
                    <div>
                        <label for="password2" class="block text-sm font-medium text-white">Confirm Password</label>
                        <input id="password2" name="password2" type="password" required aria-label="Confirm Password" aria-required="true"
                            class="mt-1 appearance-none rounded-2xl block w-full px-3 py-3 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm lg:text-base" placeholder="Confirm your password">
                    </div>
                </div>
                <div>
                    <button type="submit" class="text-lg mt-6 group relative w-full flex justify-center py-3 px-4 border border-transparent text-white rounded-3xl bg-[#6D0CC9] hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 transition duration-150 ease-in-out">
                        Register
                    </button>
                </div>
            </form>
            {% if messages %}
            <div class="mt-4 w-full">
                {% for message in messages %}
                    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative text-sm sm:text-base lg:text-lg" role="alert">
                        <span class="block sm:inline">{{ message }}</span>
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <div class="text-center mt-4">
                <p class="text-xs sm:text-sm lg:text-base text-white">
                    Already have an account? 
                    <a href="{% url 'Authenticate:login' %}" class="font-medium text-[#2E29A6] hover:text-[#3F39E7] transition duration-150 ease-in-out">
                        Login Now
                    </a>
                </p>
            </div>
            <div class="text-center mt-2">
                <a href="{% url 'Homepage:home_section' %}" class="text-xs sm:text-sm lg:text-base hover:text-gray-300 font-bold underline">
                    Back to Homepage
                </a>
            </div>
        </div>
    </body>
{% endblock content %}
